@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: rgb(228, 245, 233);
}

/*HEADER START*/
header {
  background-color: #0c89ef;
  color: #ffff;
  width: 100%;
  height: 8vh;
  min-width: 520px;
  padding: 1%;
  padding-left: 10%;
  font-weight: bold;
  font-size: 35px;
}
/* HEADER END */

/* BUTTONS START */
.create-btn {
  background-color: #00b900;
  position: relative;
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  border: 1px solid #00b900;
  border-radius: 5px;
  cursor: pointer;
}

.create-btn i {
  margin: 25px 40px;
  color: #ffff;
}

.delete-btn {
  width: 3%;
  background-color: rgb(211, 214, 219);
  border: none;
  cursor: pointer;
  margin-left: 15%;
}

li button i {
  color: black;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
}

.fa-trash {
  color: red;
}

/* BUTTONS END */

/* LIST ITEMS START */
.list-container {
  width: 100vw;
  min-width: 520px;
}

.list-items {
  margin: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: start;
  flex-wrap: wrap;
}

.list-item {
  width: 25%;
  min-width: 350px;
  background-color: rgb(211, 214, 219);
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  padding: 0.5%;
  border: 2px solid black;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
/* LIST ITEMS END */

/* MODAL START */
.modal-container,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #f1f1f1;
  min-width: 50%;
  min-height: 50%;
}

.modal-inputs li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* MODAL END */
